# Python
__mojocache__/
__pycache__/
*.py[cod]
*.egg
*.egg-info
*.egg-info/
dist/
build/
*.joblib
*.so
*.pyd

# Virtual environments
.cache/
.venv/
venv/
env/
.pixi/
.kaggle-env/
.kaggle/
.bak
.pixi

# dotenv
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Dataset downloads & outputs
*.zip
*.csv
*.json
*.tsv
*.parquet
*.h5
*.npy
*.html
*.xlsx
*.tar.gz
*.out
*.tmp
*.log
*.inkml
*.jsonl
*.data
*.index

# Assignments & project workflows
*.keras
dev/
img/
sandbox/
MathWriting-human/
mathwriting/
mathwriting-2025/
math_dataset/
math/
modules/
hwzips/

# Node / frontend
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
*.lock

# VSCode, PyCharm
.vscode/
.idea/

# GitHub
*~
*.h
*.c
*.cpp
*.rs
*.rlib
*.mojo
*.cu
*.cuh
*.pt
*.pth
*.pb
.cache

# Allowed outputs
!docs/*.html
!pixi.lock
!pixi.lock.bak
!pixi.toml.bak


